body {
    font-family: 'Share Tech Mono', monospace;
}
header {
    height: 8vh;
}
button {
    height: 5vh;
}
.pink {
    background-color: #eb2fcc85;
    border: 1px solid gold;
}
.orange {
    background-color: #eb9a2f71;
    border: 1px solid silver;
}
.green {
    background-color: #2feb3f7e;
    border: 1px solid pink;
}
.yellow {
    background-color: #ebcf2f70;
    border: 1px solid teal;
}
.red {
    background-color: #eb2f2f81;
    border: 1px solid red;
}
.white {
    background-color: #ffffff70;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
.turquise {
    background-color: #2febbc85;
    border: 1px solid orangered;
}
.blue {
    background-color: #2f3feb83;
    border: 1px solid wheat;
}
.black {
    background-color: #00000094;
    border: 1px solid gold;
    color: #ffffff;
}
.row {
    margin: 0;
}
#inner-div {
    height: 33vh;
    overflow: auto;
}
#outer-div {
    height: 85.5vh;
    overflow: auto;
}
#image-div {
    height: 50vh;
    overflow: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#inner-div, #top-message, #middle-message, #bottom-message {
    border: none;
}